
.main-wrapper{
    justify-content: space-between;
    width: 95%;
}


//Members
.member-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 90vh;
    min-width: 170px;
    overflow-y: auto;
}

.member-list-wrap{
    text-align: center;
}

.member-list h3{
    margin-top: 10px;
    margin-bottom: 15px;
}

.member-list li{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #dacdcd2a;
    padding: 5px 15px;
    border-radius: 7px;
    margin-bottom: 9px;
}

.member-list .indicator{
    margin-right: 7px;
}

.divider{
    width: 40%;
    height: 3px;
    background-color: $color-main-bg;
    border-radius: 4px;
    margin: 15px auto;
}

//Messages
.messages{
    height: 83vh;
}

.current-messages{
    padding: 15px;
}
.current-messages span{
    margin-right: 10px;
    color: blue;
}


//Messages and Input
.messages,
.input-wrapper{
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

//Input
.input-wrapper{
    position: relative;
    height: 40px;
    margin-top: 2vh ;

}


input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    outline: none;
}


.send{
    position: absolute;
    height: 30px;
    width: 50px;
    bottom: 5px;
    right: 10px;
    background-color: $color-btn-send;
    border: none;
    border-radius: 7px;
    color: white;
}

.send:active{
    color: $color-away;
}