
.main-wrapper{
    justify-content: space-between;
    width: 95%;
}


//Members
.member-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 100vh;
    overflow-y: auto;
}

.member-list-wrap{
    text-align: center;
}

.member-list h3{
    margin-top: 10px;
    margin-bottom: 15px;
}

.member-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: lightgray;
    padding: 5px 15px;
    border-radius: 7px;
    margin-bottom: 9px;
}

.member-list .indicator{
    margin-right: 5px;
}

.divider{
    width: 60%;
    height: 3px;
    background-color: $color-main-bg;
    border-radius: 4px;
    margin: 15px auto;
}


//Messages and Input
.messages,
.input-wrapper{
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

//Input
.input-wrapper{
    position: relative;
    height: 40px;
}


input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}


#send{
    position: absolute;
    height: 30px;
    width: 50px;
    bottom: 5px;
    right: 10px;
    background-color: $color-btn-send;
    border: none;
    border-radius: 7px;
    color: white;
}