$color-max: #98dec5;
$color-min: #e5c46e;
$color-close: #ff8a8a;

$color-online: #94f6d3;
$color-away: #fcd7a1;
$color-offline: #cfd8d4;

$color-header-bg: #78828c;
$color-main-bg: #d9e3e5;

$color-btn-send: #75E0C0;